
<footer class="text-center">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4"> </div>
                    <div class="footer-col col-md-4">
                      <h3>Social Media:</h3>
                      <hr>
                     
	                      <ul class="list-inline" id="footer-icon" >
	                            <li >
	                                <a href="https://www.facebook.com/jerrel.sogoni" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
	                            </li>
	                            <li >
	                                <a href="https://bitbucket.org/JerrelSogoni/" class="btn-social btn-outline"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
	                            </li>
	                            <li >
	                                <a href="https://github.com/JerrelSogoni" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
	                            </li>
	                            <li>
	                             <a href="http://blog.jerrelsogoni.com/" class="btn-social btn-outline"><i class="fa fa-wordpress" aria-hidden="true"></i></a>
	                            </li>

	                        </ul>
	                        </div>
	                    </div>
            </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Jerrel Sogoni {{year}}
                    </div>
                </div>
            </div>
        </div>
    </footer>