<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">

  <div class="container">
  	<ul class="nav navbar-nav flex-grow justify-content-start">
  		<li class="nav-item">
  			<a class="navbar-brand" href="#">
    			<img [src]="casual" width="30" height="30" alt="logo" id="logo">
  			</a>		
  		</li>
  	</ul>
  	<ul class="nav navbar-nav flex-grow justify-content-center" id="name">
        <li class="nav-item"><h2>Jerrel Sogoni</h2></li>

	</ul>
  	<ul class="nav navbar-nav flex-grow justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#project-page" id="project-link" onclick="return false">Projects</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="#contact-page" id="contact-link" onclick="return false">Contact Me</a>
         </li>
     </ul>
  </div>
  	
	
  
</nav>