.project-background{
	margin-top: 5px;
	margin-bottom: 5px; 
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	border-style: solid;
	background: #d1913c; /* Old browsers */
background: -moz-linear-gradient(left, #d1913c 0%, #ffd194 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #d1913c 0%,#ffd194 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #d1913c 0%,#ffd194 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1913c', endColorstr='#ffd194',GradientType=1 ); /* IE6-9 */

}
#project-page{
	border-width: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 5px;
	padding-bottom: 50px;
	 background: #2c3e50; /* Old browsers */
background: -moz-linear-gradient(left, #2c3e50 0%, #3498db 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #2c3e50 0%,#3498db 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #2c3e50 0%,#3498db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3e50', endColorstr='#3498db',GradientType=1 ); /* IE6-9 */

}
.center {
    text-align: center;
}

.projectPictures{
	width: 200px;
	height: 200px;

}
.modalImage{
	width: 50%;
	height: 50%;
}

.modal-title{

	margin: 0 auto;

}

.glow:hover {
-webkit-box-shadow: 0px 0px 50px 0px rgba(18,193,224,0.85);
-moz-box-shadow: 0px 0px 50px 0px rgba(18,193,224,0.85);
box-shadow: 0px 0px 50px 0px rgba(18,193,224,0.85);
	animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(.95, .95);
    }

    100% {
    transform: scale(1, 1);
    }
}