<div class="container-fluid" id="front-page">
    <div class="row">
        <div class="col-md-6" id="front-page-left">
			 <div class="p-2  d-flex justify-content-center">
			  	<img [src]="professional" width="250" height="250" alt="Jerrel Sogoni Picture" id="serious">
			 </div>
			 <div>
			  	<p>
			  		I am currently a student in Stony Brook University. I am pursuing a degree in Computer Science. I am currently specializing in Software Development for my major. 
			  	</p>
			</div>
			<br>
			<div class="p-2  d-flex justify-content-center">
			<button type="button" class="btn btn-default btn-lg">
			<fa name="cloud-download"></fa>My Résumé
  </button>
			</div>
        </div>
        <div class="col-md-6" id="front-page-right">
            <div class="p-2 d-flex justify-content-center">
			  	<img [src]="casual" width="250" height="250" alt="Jerrel Sogoni Picture">
			</div>
			<div>
				<p>
				My passion is to learn and complete projects that I am interested in over my free time. The projects can be an from an array of interest that I have such as programming projects, learning more computer languages, car detailing projects, cooking foods, DIY electronic projects, and so much more. 
				</p>
			</div>
			<div class="p-2  d-flex justify-content-center">
			<button type="button" class="btn btn-default btn-lg">
			<fa name="paper-plane"></fa>My Blog</button>
			</div>
        </div>
    </div>
</div>