.contactMe {

}

.red {
	color: red;
}
.center {
    text-align: center;
}
#contact-page{
	padding-top: 50px;
	border-width: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 5px;
	padding-bottom: 50px;
    color: #fff;
    background: #0066ff; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(180deg, #00264d, #3399ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, #00264d, #3399ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, #00264d, #3399ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #00264d,#3399ff); /* Standard syntax (must be last) */
    padding-bottom: 200px;
}

.error { color: crimson; 
}
.success { color: green;
 }

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
